<% provide(:title, "Help") %>


<div class="help">
	<h1>PLEASE HELP YOURSELF </h1> 
	<h1>I'M TOO BUSY</h1>
	<h1>LEARNING NEW STUFF</h1>
</div>
 
<style>
	body {
		background-color:#700000 ;
		}
	h1 {
		color: #9E9B10;
		}

	.help {
		  background-image: url(../assets/5.gif);
		  background-repeat: no-repeat;
		  background-position: center;
		}
</style>